input {
    width: 98%;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button {
    border-radius: 5px;
    padding: 5px;
}

label {
    color: white;
}

img {
    max-width: 500px;
    max-height: 800px;
}

.toBigImg {
    width: 32%;
    height: 100%;
    position: fixed;
    top: 0px;
    margin: auto;
    left: 0;
    right: 0;
    padding-left: 34%;
    padding-right: 34%;
    backdrop-filter: blur(10px);
    /* backdrop-filter: brightness(0%); */
}