input {
    width: 98%;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

button {
    border-radius: 5px;
    padding: 5px;
}

label {
    color: white;
}

img {
    max-width: 500px;
    max-height: 800px;
}