img {
    width: 19%;
    height: 550px;
    object-fit: cover;
    object-position: 50% 50%;
}

.div-box {
    text-align: center;
}

h3 {
    color: white;
    cursor: pointer;
}

button {
    padding: 7px;
    border-radius: 5px;
    color: black;
    background: navajowhite;
}