<nav>
    <ul>

        <li><a routerLink="/" routerLinkActive="active"><i class="fas fa-home"></i> Home</a></li>
        <li><a routerLink="/women" routerLinkActive="active"><i class="fas fa-female"></i> Woman</a></li>
        <li><a routerLink="search"><i class="fas fa-search"></i> Search</a></li>
        <li><a routerLink="topWoman"><i class="fas fa-mask"></i> Top Woman</a></li>
        <li><a routerLink="suggestions"><i class="fas fa-mask"></i> Suggestions</a></li>
        <li><a routerLink="edit"><i class="fas fa-mask"></i> Edit</a></li>

    </ul>
</nav>