img {
    width: 19%;
    height: 550px;
    object-fit: cover;
    object-position: 50% 50%;
}

button {
    background: #007ACC;
    border: 0;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

button:hover {
    background: black;
}

.toBigImg {
    width: 32%;
    height: 100%;
    position: fixed;
    top: 0px;
    /* margin: 1% auto; */
    margin: auto;
    left: 0;
    right: 0;
    padding-left: 34%;
    padding-right: 34%;
    backdrop-filter: blur(10px);
    /* backdrop-filter: brightness(0%); */
}