img {
    width: 19%;
    height: 550px;
    object-fit: cover;
    object-position: 50% 50%;
}

button {
    background: #007ACC;
    border: 0;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
}

button:hover {
    background: black;
}

.div-checkbox {
    display: inline-block;
    color: white;
    font-size: 20px;
}

h1 {
    color: white;
}


/* dasd */

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    margin-right: 60px;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 23px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 14px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: #0088FF;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 40px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

h3 {
    display: inline-block;
    color: white;
    margin-right: 5px;
}