.toBigImg {
    width: 32%;
    height: 100%;
    position: fixed;
    top: 0px;
    /* margin: 1% auto; */
    margin: auto;
    left: 0;
    right: 0;
    padding-left: 34%;
    padding-right: 34%;
    backdrop-filter: blur(10px);
    /* backdrop-filter: brightness(0%); */
}